<div class="grid-container">
    <h1 class="text-center"><i class="fas fa-paperclip"></i> Welcome to Financial Resources for Writers!</h1>
    <p>This site demonstrates a collection of funding, fellowships, grants, and other resources for writers looking to support their work. Resources are also searchable by funding organization and categories.</p>
    <br>
    <%= home_page_text %>
</div>