<% if @organization %>
    <h1 class="text-center">Funding Resources from <%= @organization.name %></h1>
<% else %>
    <h1 class="text-center">Funding Resources</h1>
<% end %>
<ul>
<% if @resources.nil? %>
    <p>No resources are available.</p>
<% else %>
    <p>The following resources are available.</p>
    <% @resources.each do |resource| %>
        <li><%= link_to resource.name, resource_path(resource) %></li>
    <% end %>
    </ul>
<% end %>

<%= link_to "Add New Resource", new_resource_path, class: "button" %>