<% if @organization %>
    <h1>Resources for <%= @organization.name %></h1>
<% else %>
    <h1>Resources</h1>
<% end %>
<ul>
<% @resources.each do |resource| %>
    <li><%= link_to resource.name, resource_path(resource) %></li>
<% end %>
</ul>

<%= link_to "Add New Resource", new_resource_path %>