/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #C7EFCF;
    color: #190E4F;
}

h1, h3, h3 a, .top-bar a {
    font-family: 'Nanum Myeongjo', serif;
}

h1, .top-bar a {
    font-weight: 800;
}

p, li, a, .button {
    font-family: 'Montserrat', sans-serif;
}

.top-bar, .top-bar a, ul.menu {
    background-color: #FE5F55;
    color: #EEF5DB;
}

.top-bar a:hover {
    background-color: #E63462;
}

ul {
    list-style-type: none;
}

.button {
    min-width: 200px;
}

.button:hover {
    background-color: #E63462;
}

.log-in-form {
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 0;
    color: #E63462;
    background-color: #F8FBEF;
}

.form {
    padding: 2rem;
    border-radius: 0;
}

.grid-container {
    margin-top: 3rem;
    padding: 3rem;
    background-color: #EEF5DB;
}

.hero-section {
    text-align: center;
}

.rating {
    max-width: 400px;
}