<h1 class="text-center">Funding Organizations</h1>
<p>These organizations have resources available.</p>
<ul>
    <% @organizations.each do |organization| %>
        <li><%= link_to organization.name, organization_path(organization) %></li>
    <% end %>
</ul>

<%= link_to "Add New Organization", new_organization_path, class: "button" %>