<h1>Category Show</h1>
<p><%= @category.name %></p>

<h2>Available Resources</h2>
<ul>
<% if @category.resources.empty? %>
    <li>No Resources Available</li>
<% else %>
    <% @category.resources.each do |resource| %>
        <li><%= link_to resource.name, resource_path(resource) %></li>
    <% end %>
<% end %>
</ul>

<%= link_to "New", new_category_path %>
<%= link_to "Edit", edit_category_path(@category) %>